body {
    background-image: URL('../Image/body-bg.jpg');
    width: 1024px;
    margin-left: 179px;
    height: 1178px;
}

#footder {
    width: 1024px;
    clear: both;
    color: black;
    text-align: center;
    background-color: #F5F5F5;
    height: 123px;
    margin-bottom: 0px;
    padding-top: 10px;
    border-top: 3px solid red;
}

#header 
{
    max-width: 1024px;
    height: 130px;
    border: 1px solid black;
}

div#ThanhMenu {
    background-color: white;
    overflow: hidden;
    height: 45px;
    display: block;
    line-height: 35px;
    text-align: center;
    width: 1024px;
}

#content_cu {
    width: 780px;
    float: right;
}

#content div#mainContent {
    float: left;
    width: 627px;
    background-color: White;
    margin: 5px;
    padding-bottom: 5px;
    border: 0.5px solid #C0C0C0;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
}

.daukhungmain {
    border-bottom: 0.5px solid #C0C0C0;
    color: Black;
    background-color: #EFEFEF;
    padding: 5px;
    padding-left: 10px;
    text-align: left;
    height: 20px;
    margin-bottom: 5px;
    -moz-border-radius: 7px 7px 0px 0px;
    -webkit-border-radius: 7px 7px 0px 0px;
}

#content div#sidebar {
    line-height: 2em;
    float: right;
    width: 180px;
    background-color: #333333;
    margin-bottom: 5px;
}

.khungmenu {
    -moz-border-radius: 6px 6px 0px 0px;
    -webkit-border-radius: 6px 6px 0px 0px;
    border: 1px solid white;
    width: 180px;
    background-color: #333333;
    margin-bottom: 10px;
}

#noidung {
    width: 1004px;
    margin-left: 300px;
    margin: 0 auto;
}

#ddblueblockmenu {
    /*Main Border Color */
    -moz-border-radius: 6px 6px 0px 0px;
    -webkit-border-radius: 6px 6px 0px 0px;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
    border-bottom: 0 solid #000000;
    width: 99%;
}

    #ddblueblockmenu ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        font: normal 90% 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
    }

    #ddblueblockmenu a {
        display: block;
        padding-left: 9px;
        width: 92%; /*94% minus all left/right paddings and margins*/
        text-decoration: none;
        color: #ffffff; /* Menu Font Color */
        background-color: #333333; /*Menu background Color */
        border-bottom: 1px solid #666666; /*Bottom border color */
        border-left: 7px solid black; /*Left border color */
        list-style-type: none;
        padding-right: 0;
        padding-top: 3px;
        padding-bottom: 3px;
        margin-bottom: 0px;
    }

    * html #ddblueblockmenu a { /*IE only */
        width: 94%; /*IE 5*/
        width: 94%; /*94% minus all left/right paddings and margins*/
    }

        #ddblueblockmenu a:hover {
            background-color: white; /*Menu background Color On Hover*/
            border-left-color: white; /*Left border color On Hover*/
            color: black;
        }

    #ddblueblockmenu div.menutitle {
        color: #ffffff; /* Title Font Color */
        border-bottom: 1px solid black;
        padding: 1px 0;
        padding-left: 0px;
        background-color: #C0C0C0; /*Menu Tite Background Color*/
        font: normal 100% "Trebuchet MS", "Lucida Grande", Arial, sans-serif;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
    }

.thanhngang {
    background-color: #A4FFFF;
    color: #000000;
    text-align: center;
    font-size: 16px;
    margin-bottom: 0px;
    height: 30px;
    width: 177px;
    border: 1px solid #333333;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 0px;
    -moz-border-radius: 7px 7px 0px 0px;
    -webkit-border-radius: 7px 7px 0px 0px;
}

    .khunganh a img:hover {
        width: 230px;
        height: 345px;
        float: left;
        position: absolute;
        border: 0.5px solid green;
    }

    .khunganh img {
        width: 150px;
        height: 170px;
        float: left;
    }

.dong {
    color: Red;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: VnCourier;
    font-weight: bold;
}

.lblnhapmasv {
    padding-left: 100px;
}
.button:hover
{
    cursor: pointer;    
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=' #85B6F0',
 endColorstr='#579AEB'); /* for IE */
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=' #85B6F0',
    endColorstr='#579AEB'); /* for IE 8 and above */
    background: -webkit-gradient(linear, left top, left bottom, from(#85B6F0),
    to(#579AEB)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #85B6F0, #579AEB); /* for firefox 3.6+ */
    background: -o-linear-gradient(top, #85B6F0, #579AEB); /* for Opera */
}

#menu ul{
list-style-type:none;
padding:0px;
margin:0px;
}

#menu ul li{
display:inline;
text-decoration:none;
width:129px;
float:left;
background:#000;
color:#fff;
font-weight:bold;
text-align:center;
line-height:35px;
border-left:1px solid #fff;
}

